// Accordion block editor styles.

.accordion {
	&__add-btn {
		background: #fff;
		border: 1px solid #ddd;
		border-radius: 3px;
		color: #555;
		cursor: pointer;
		display: block;
		font-size: 14px;
		font-weight: 600;
		margin: 0 0 10px;
		padding: 10px;
		text-align: center;
		text-decoration: none;
		width: 100%;
		margin-top: 10px;
	}

	&__item {
		padding: 0 15px;
	}

	&__content {
		height: auto !important;
	}

	&__title {
		justify-content: unset !important;
	}

	&__remove-btn {
		background: #fff;
		border: 1px solid #ddd;
		border-radius: 3px;
		color: #dc3232;
		cursor: pointer;
		display: block;
		font-size: 14px;
		font-weight: 600;
		margin: 0 0 10px;
		padding: 10px;
		text-align: center;
		text-decoration: none;
		width: 100%;
		margin-top: 10px;
	}
}
