// Core Navigation Styles

.wp-block-navigation-item {
	&.wp-block-navigation-link {
		a {
			text-decoration: none;
		}

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 2px;
			background-color: var(--wp--preset--color--contrast);
			transition: width 0.3s ease-in-out;
			transform-origin: bottom left;
			transform: scaleX(0);
		}

		&:hover::before {
			width: 100%;
			transform: scaleX(1);
		}

		&.current-menu-item {
			&::before {
				width: 100%;
				transform: scaleX(1);
			}
		}
	}
}
